In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import AdaBoostClassifier
from sklearn import datasets
from sklearn import metrics
# from random import shuffle
from sklearn.utils import shuffle

In [2]:
with open('project/pairsDevTrain.txt','r') as f:
    lines = f.readlines()

In [3]:
with open('project/pairsDevTest.txt','r') as f:
    lines_test = f.readlines()

In [4]:
counter = int(lines[0].replace('\n'," "))
name = []
index1 = []
index2 = []
for i in range(1,counter+1):
    test = lines[i].split("\t")
    n = test[0]
    i1 = test[1]
    i2 = test[2].split("\n")[0]
    name.append(n)
    index1.append(i1)
    index2.append(i2)
    
name1 = []
name2 = []
index3 = []
index4 = []
for i in range(counter+1,2*counter+1):
    test = lines[i].split("\t")
    n1 = test[0]
    n2 = test[2]
    i1 = test[1]
    i2 = test[3].split("\n")[0]
    name1.append(n1)
    name2.append(n2)
    index3.append(i1)
    index4.append(i2)

In [5]:
# test dataset
counter_test = int(lines_test[0].replace('\n'," "))
name_test = []
index1_test = []
index2_test = []
for i in range(1,counter_test+1):
    test = lines_test[i].split("\t")
    n = test[0]
    i1 = test[1]
    i2 = test[2].split("\n")[0]
    name_test.append(n)
    index1_test.append(i1)
    index2_test.append(i2)
    
name1_test = []
name2_test = []
index3_test = []
index4_test = []
for i in range(counter_test+1,2*counter_test+1):
    test = lines_test[i].split("\t")
    n1 = test[0]
    n2 = test[2]
    i1 = test[1]
    i2 = test[3].split("\n")[0]
    name1_test.append(n1)
    name2_test.append(n2)
    index3_test.append(i1)
    index4_test.append(i2)

In [6]:
d = {'name': name, 'pic1':index1, 'pic2':index2,'fet1':'','fet2':'','label':1}
df = pd.DataFrame(data=d)
df

                     name pic1 pic2 fet1 fet2  label
0           Aaron_Peirsol    1    2                1
1           Aaron_Peirsol    3    4                1
2            Aaron_Sorkin    1    2                1
3     Abdel_Nasser_Assidi    1    2                1
4                Abdullah    1    3                1
...                   ...  ...  ...  ...  ...    ...
1095           Zhu_Rongji    1    9                1
1096           Zhu_Rongji    4    7                1
1097           Zhu_Rongji    4    8                1
1098           Zhu_Rongji    5    6                1
1099      Zinedine_Zidane    2    4                1

[1100 rows x 6 columns]

In [7]:
d1 = {'name': name1, 'name2':name2 ,'pic1':index3, 'pic2':index4,'fet1':'','fet2':'','label':0}
df_2 = pd.DataFrame(data=d1)
df_2

                     name                 name2 pic1 pic2 fet1 fet2  label
0                 AJ_Cook       Marsha_Thomason    1    1                0
1            Aaron_Sorkin          Frank_Solich    2    5                0
2     Abdel_Nasser_Assidi          Hilary_McKay    2    1                0
3          Abdoulaye_Wade            Linda_Dano    4    1                0
4            Abdul_Rahman           Magui_Serna    1    1                0
...                   ...                   ...  ...  ...  ...  ...    ...
1095          Tom_Vilsack        Wayne_Ferreira    1    5                0
1096         Trisha_Meili  Vladimiro_Montesinos    1    3                0
1097             Ty_Votaw          Wayne_Allard    1    1                0
1098       Vytas_Danelius        Zaini_Abdullah    1    1                0
1099        Wendy_Kennedy        Zara_Akhmadova    1    1                0

[1100 rows x 7 columns]

In [8]:
d = {'name': name_test, 'pic1':index1_test, 'pic2':index2_test,'fet1':'','fet2':'','label':1}
df_test = pd.DataFrame(data=d)
df_test

                   name pic1 pic2 fet1 fet2  label
0          Abdullah_Gul   13   14                1
1          Abdullah_Gul   13   16                1
2      Abdullatif_Sener    1    2                1
3        Adel_Al-Jubeir    1    3                1
4             Al_Pacino    1    2                1
..                  ...  ...  ...  ...  ...    ...
495        Winona_Ryder    6   15                1
496        Winona_Ryder   19   21                1
497  Yevgeny_Kafelnikov    3    4                1
498    Yoriko_Kawaguchi    3   10                1
499      Zoran_Djindjic    3    4                1

[500 rows x 6 columns]

In [9]:
d1 = {'name': name1_test, 'name2':name2_test ,'pic1':index3_test, 'pic2':index4_test,'fet1':'','fet2':'','label':0}
df_2_test = pd.DataFrame(data=d1)
df_2_test

,name,name2,pic1,pic2,fet1,fet2,label
0,AJ_Lamas,Zach_Safrin,1,1,,,0
1,Aaron_Guiel,Reese_Witherspoon,1,3,,,0
2,Aaron_Tippin,Jose_Luis_Rodriguez_Zapatero,1,1,,,0
3,Abdul_Majeed_Shobokshi,Charles_Cope,1,1,,,0
4,Abdullah_Gul,Steve_Cox,16,1,,,0
...,...,...,...,...,...,...,...
495,Susan_Whelan,Wolfgang_Schneiderhan,1,1,,,0
496,Takeo_Fukui,Will_Ofenheusle,1,1,,,0
497,Tamara_Mowry,Zach_Parise,1,1,,,0
498,Tatiana_Kennedy_Schlossberg,Thomas_Watjen,1,1,,,0
499,Todd_Petit,Vicente_Fernandez,1,3,,,0

In [10]:
a2 = []
for i in range(counter):
    name = df['name'][i]
    pic1 = pic2 = test = test1 = ''
    a1 = []
    if int(df['pic1'][i]) >= 100:
        pic1 = name + '_' + '0'+ df['pic1'][i]
    elif 99>= int(df['pic1'][i]) >= 10:
        pic1 = name + '_' + '00'+ df['pic1'][i]
    else :
        pic1 = name + '_' + '000'+ df['pic1'][i]
        
    if int(df['pic2'][i]) >= 100 :
        pic2 = name + '_' + '0'+ df['pic2'][i]
    elif 99>int(df['pic2'][i]) >= 10 :
        pic2 = name + '_' + '00'+ df['pic2'][i]
    else :
        pic2 = name + '_' + '000'+ df['pic2'][i]
    with open('project/lfw/'+name+'/' +pic1 +'.txt','r') as f:
        test = f.read()
#         df['fet1'][i] =  test
        test = test.split("[[")[1]
        arr = test.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))
        
        
    with open('project/lfw/'+name+'/' +pic2 +'.txt','r') as f:
        test1 = f.read()
#         df['fet2'][i] =  test1
        test1 = test1.split("[[")[1]
        arr = test1.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))
                
                
    a2.append(a1)

In [11]:
df

                     name pic1 pic2 fet1 fet2  label
0           Aaron_Peirsol    1    2                1
1           Aaron_Peirsol    3    4                1
2            Aaron_Sorkin    1    2                1
3     Abdel_Nasser_Assidi    1    2                1
4                Abdullah    1    3                1
...                   ...  ...  ...  ...  ...    ...
1095           Zhu_Rongji    1    9                1
1096           Zhu_Rongji    4    7                1
1097           Zhu_Rongji    4    8                1
1098           Zhu_Rongji    5    6                1
1099      Zinedine_Zidane    2    4                1

[1100 rows x 6 columns]

In [13]:
a3 = []

for i in range(counter):
    name1 = df_2['name'][i]
    name2 = df_2['name2'][i]
    pic1 = pic2 = test = test1 = ''
    a1 = []
    if int(df_2['pic1'][i]) >= 100:
        pic1 = name1 + '_' + '0'+ df_2['pic1'][i]
    elif 99>= int(df_2['pic1'][i]) >= 10:
        pic1 = name1 + '_' + '00'+ df_2['pic1'][i]
    else :
        pic1 = name1 + '_' + '000'+ df_2['pic1'][i]
        
    if int(df_2['pic2'][i]) >= 100 :
        pic2 = name2 + '_' + '0'+ df_2['pic2'][i]
    elif 99>int(df_2['pic2'][i]) >= 10 :
        pic2 = name2 + '_' + '00'+ df_2['pic2'][i]
    else :
        pic2 = name2 + '_' + '000'+ df_2['pic2'][i]
    with open('project/lfw/'+name1+'/' +pic1 +'.txt','r') as f:
        test = f.read()
#         df_2['fet1'][i] = test
        test = test.split("[[")[1]
        arr = test.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))     
    with open('project/lfw/'+name2+'/' +pic2 +'.txt','r') as f:
        test1 = f.read()
#         df_2['fet2'][i] =  test1
        test1 = test1.split("[[")[1]
        arr = test1.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else:
                a1.append(float(arr[i]))
    a3.append(a1)

In [14]:
# test
a2_test = []
for i in range(counter_test):
    name = df_test['name'][i]
    pic1 = pic2 = test = test1 = ''
    a1 = []
    if int(df_test['pic1'][i]) >= 100:
        pic1 = name + '_' + '0'+ df_test['pic1'][i]
    elif 99>= int(df_test['pic1'][i]) >= 10:
        pic1 = name + '_' + '00'+ df_test['pic1'][i]
    else :
        pic1 = name + '_' + '000'+ df_test['pic1'][i]
        
    if int(df_test['pic2'][i]) >= 100 :
        pic2 = name + '_' + '0'+ df_test['pic2'][i]
    elif 99>int(df_test['pic2'][i]) >= 10 :
        pic2 = name + '_' + '00'+ df_test['pic2'][i]
    else :
        pic2 = name + '_' + '000'+ df_test['pic2'][i]
    with open('project/lfw/'+name+'/' +pic1 +'.txt','r') as f:
        test = f.read()
#         df_test['fet1'][i] =  test
        test = test.split("[[")[1]
        arr = test.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))
        
        
    with open('project/lfw/'+name+'/' +pic2 +'.txt','r') as f:
        test1 = f.read()
#         df_test['fet2'][i] =  test1
        test1 = test1.split("[[")[1]
        arr = test1.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))
                
                
    a2_test.append(a1)

In [15]:
a3_test = []

for i in range(counter_test):
    name1 = df_2_test['name'][i]
    name2 = df_2_test['name2'][i]
    pic1 = pic2 = test = test1 = ''
    a1 = []
    if int(df_2_test['pic1'][i]) >= 100:
        pic1 = name1 + '_' + '0'+ df_2_test['pic1'][i]
    elif 99>= int(df_2_test['pic1'][i]) >= 10:
        pic1 = name1 + '_' + '00'+ df_2_test['pic1'][i]
    else :
        pic1 = name1 + '_' + '000'+ df_2_test['pic1'][i]
        
    if int(df_2_test['pic2'][i]) >= 100 :
        pic2 = name2 + '_' + '0'+ df_2_test['pic2'][i]
    elif 99>int(df_2_test['pic2'][i]) >= 10 :
        pic2 = name2 + '_' + '00'+ df_2_test['pic2'][i]
    else :
        pic2 = name2 + '_' + '000'+ df_2_test['pic2'][i]
    with open('project/lfw/'+name1+'/' +pic1 +'.txt','r') as f:
        test = f.read()
#         df_2_test['fet1'][i] = test
        test = test.split("[[")[1]
        arr = test.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))     
    with open('project/lfw/'+name2+'/' +pic2 +'.txt','r') as f:
        test1 = f.read()
#         df_2_test['fet2'][i] =  test1
        test1 = test1.split("[[")[1]
        arr = test1.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else:
                a1.append(float(arr[i]))
    a3_test.append(a1)

In [16]:
df_2.to_csv("df_2.csv")
df.to_csv("df.csv")

In [17]:
X_train1 = pd.DataFrame(a2)
X_train1
X_train2 = pd.DataFrame(a3)
X_train2
X1 = pd.concat([X_train1,df.iloc[:,5]],axis=1)
X1
X2 = pd.concat([X_train2,df_2.iloc[:,6]],axis=1)
X2

X_train = pd.concat([X1,X2],axis=0)
X_train

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
0,0.943083,0.328070,5.107355,0.047781,6.151414,6.137378,2.698583,0.186967,0.115426,4.111624,...,2.880255,2.532219,0.276606,1.956461,6.976591,2.187533,0.329154,0.306263,1.012553,1
1,1.454057,2.053140,1.510975,0.300200,4.056980,2.742740,2.834798,0.345680,0.885907,3.824532,...,0.018412,1.623344,0.699217,9.124781,1.209864,2.995515,0.000000,3.623063,1.478496,1
2,1.525829,2.119608,0.120014,1.431045,4.351317,9.113686,6.806141,2.784211,0.000000,1.366421,...,2.297232,2.790154,2.242366,6.413890,0.627657,2.513208,4.984568,6.714706,0.166774,1
3,0.813414,2.684418,1.745850,0.257840,1.472835,3.998883,1.697413,9.135638,0.639541,0.397341,...,2.506820,2.928633,1.809035,7.082498,2.498612,2.628944,0.451894,1.922534,0.713930,1
4,0.899212,3.871231,4.045981,0.206819,7.851793,4.136694,2.494328,2.733904,1.162861,4.646218,...,1.791215,2.692249,1.741916,4.291878,1.826620,1.811240,2.256759,1.797617,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,2.124551,0.135523,1.459448,0.120547,0.647721,14.389665,4.694295,0.000000,2.923706,2.113942,...,0.265272,3.579269,0.188312,3.893798,0.176847,0.021026,0.079869,7.641582,1.155094,0
1096,0.236122,1.186276,1.977578,0.000000,1.251430,2.024422,6.032820,1.592247,1.712161,0.702873,...,2.492952,2.182515,0.980047,12.904762,2.743064,3.974437,0.337186,2.703202,1.256285,0
1097,2.326176,3.522727,2.265609,0.000000,0.416707,2.480762,4.914556,0.798949,2.188603,5.511739,...,25.419458,8.090882,0.470488,4.310369,8.386435,3.501042,3.151184,8.701805,2.438571,0
1098,3.678269,0.119461,1.438015,0.777253,0.158648,5.477327,4.505041,4.482634,1.136055,3.326639,...,0.281028,1.152750,1.479167,2.914398,1.530654,1.809756,1.639976,2.626419,0.671979,0
1099,0.000000,1.346309,2.808309,1.332433,0.039468,7.065207,12.230016,1.864351,3.314987,0.433882,...,2.174475,6.441138,0.277401,4.782899,1.862754,0.419757,0.674769,3.862042,5.200733,0

In [18]:
X_test1 = pd.DataFrame(a2_test)

X_test2 = pd.DataFrame(a3_test)
X_test1
X1 = pd.concat([X_test1,df_test.iloc[:,5]],axis=1)

X2 = pd.concat([X_test2,df_2_test.iloc[:,6]],axis=1)


X_test = pd.concat([X1,X2],axis=0)
X_test

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
0,1.349706,1.197813,1.866544,0.003267,0.797498,7.253777,7.998175,0.341146,1.839355,1.328911,...,2.724845,0.699208,0.091064,1.661395,1.354002,0.332827,0.439253,6.675734,0.190162,1
1,1.349706,1.197813,1.866544,0.003267,0.797498,7.253777,7.998175,0.341146,1.839355,1.328911,...,2.732909,4.794750,4.103353,3.731858,3.417188,0.815296,0.647574,5.347900,0.407629,1
2,0.741477,0.922977,0.962432,0.027037,0.570898,0.190039,0.821979,1.628959,0.954088,3.989373,...,1.241246,3.267510,0.240486,5.265185,7.147744,5.587754,2.004833,0.653658,1.404996,1
3,1.148699,1.305753,0.797906,0.020593,0.000000,9.680884,6.672922,6.215244,2.693423,1.888526,...,0.350050,2.811434,0.560612,0.172593,2.322964,1.287508,1.492438,0.721043,1.550527,1
4,0.069380,0.000000,2.994990,0.000000,1.400044,4.814030,8.961414,0.049737,0.265670,0.367150,...,4.377237,4.258365,2.268685,2.916606,0.967733,0.593921,0.149629,2.745450,0.534993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,3.039391,0.032237,1.298288,2.453755,2.927109,2.329246,5.348336,6.618428,0.326731,0.593294,...,1.730461,4.222790,1.979296,11.337769,1.814036,2.730738,0.000000,2.524794,6.024907,0
496,0.900691,0.000000,3.376374,0.474559,0.000000,1.525415,2.281301,2.175935,5.534246,0.655844,...,0.152439,4.653399,0.055799,3.607120,1.697641,0.112870,1.266918,2.617888,2.140086,0
497,3.055318,1.045660,2.981344,0.082576,5.805265,0.587725,1.721573,0.000000,1.301997,1.269628,...,0.012062,4.909497,0.191727,0.054913,7.776306,0.789824,0.805288,5.002907,2.343013,0
498,0.795895,0.543751,14.022307,2.906320,14.261437,1.496604,3.439011,0.609679,0.000000,10.845224,...,0.451590,2.723640,0.308586,3.488514,1.137457,1.014916,0.516887,1.161461,1.300755,0
499,0.693673,0.026308,0.075736,0.631874,0.000000,3.279488,0.707745,7.545298,1.669757,0.884710,...,1.650444,3.995903,1.715578,3.726051,1.731614,0.839769,0.437260,11.399000,0.000000,0

In [22]:
X_train = shuffle(X_train)
X_train

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
424,0.922690,1.472656,0.329833,0.764208,0.894644,8.734124,6.086827,1.954731,2.377281,1.438097,...,3.345764,3.432221,0.153965,7.396088,5.653394,0.675927,0.507218,0.005095,0.232020,0
201,1.771580,2.175807,0.000000,0.196917,0.466702,1.726108,8.924177,0.038180,0.646813,0.014775,...,3.270368,2.825516,2.066752,2.107433,5.357678,0.000000,0.897010,6.164690,0.000000,0
942,0.064955,0.687543,5.990353,0.214168,1.577035,9.063090,5.829591,0.490681,0.869286,6.718079,...,2.716529,1.510474,0.191793,1.457613,6.032616,1.601571,2.083280,3.060474,2.064133,1
696,0.000000,0.896913,0.113296,0.000000,0.000000,2.202793,4.968699,1.949631,0.811624,1.164052,...,8.716613,3.519190,1.476354,2.289749,0.253627,0.025467,0.000000,6.225048,0.013268,1
497,0.306910,2.116782,4.213968,0.000000,2.886824,6.974339,4.840481,1.161896,0.780072,1.292247,...,0.224395,3.628201,1.759862,0.962625,1.316486,0.912129,0.348376,1.291949,0.204644,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,0.560890,0.299346,0.857798,0.000000,0.285689,3.254453,8.693399,2.693659,7.320107,2.879516,...,10.355445,7.021456,1.853702,4.809143,1.489295,2.786723,0.502577,6.810077,6.677163,0
343,3.381195,3.435064,1.417246,0.067083,0.881950,9.731133,3.800637,0.631337,0.206735,0.511892,...,0.502878,9.146438,0.060927,1.552045,1.443690,0.279440,0.644259,2.380944,0.398773,1
41,3.767873,2.034111,2.202041,0.447467,3.839756,2.013955,3.908246,0.000000,4.896777,0.402751,...,0.457430,1.155131,0.027964,6.292982,0.348271,1.131672,1.548587,6.333714,0.414005,1
807,0.273106,7.334785,4.875920,2.765005,0.000000,3.802139,1.394745,0.766520,0.669357,3.966107,...,3.394707,1.719902,2.305196,4.735368,1.274261,4.581125,10.769462,2.553374,0.000000,1
370,0.000000,2.636581,1.979943,3.392216,0.000000,1.400223,5.336183,1.214351,0.667249,1.418866,...,0.108530,2.739530,1.345549,1.989164,4.736114,6.648173,0.881409,2.967173,0.000000,1

In [23]:
X_train_new = X_train.iloc[:1800,:1024]
Y_train = X_train.iloc[:1800,1024]
Y_train
X_Val = X_train.iloc[1800:,:1024]
Y_Val = X_train.iloc[1800:,1024]
# Y_Val
X_train_new

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
424,0.922690,1.472656,0.329833,0.764208,0.894644,8.734124,6.086827,1.954731,2.377281,1.438097,...,0.000000,3.345764,3.432221,0.153965,7.396088,5.653394,0.675927,0.507218,0.005095,0.232020
201,1.771580,2.175807,0.000000,0.196917,0.466702,1.726108,8.924177,0.038180,0.646813,0.014775,...,5.577553,3.270368,2.825516,2.066752,2.107433,5.357678,0.000000,0.897010,6.164690,0.000000
942,0.064955,0.687543,5.990353,0.214168,1.577035,9.063090,5.829591,0.490681,0.869286,6.718079,...,2.653469,2.716529,1.510474,0.191793,1.457613,6.032616,1.601571,2.083280,3.060474,2.064133
696,0.000000,0.896913,0.113296,0.000000,0.000000,2.202793,4.968699,1.949631,0.811624,1.164052,...,4.015005,8.716613,3.519190,1.476354,2.289749,0.253627,0.025467,0.000000,6.225048,0.013268
497,0.306910,2.116782,4.213968,0.000000,2.886824,6.974339,4.840481,1.161896,0.780072,1.292247,...,0.477254,0.224395,3.628201,1.759862,0.962625,1.316486,0.912129,0.348376,1.291949,0.204644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,0.952726,2.991400,4.797401,0.000000,0.352312,1.102148,3.684948,5.069903,4.358322,4.355152,...,0.000000,3.842527,6.385532,0.719739,3.766157,3.642155,0.696052,0.246034,6.837833,5.788250
528,3.972816,0.971883,0.432489,0.137985,1.103673,2.557741,7.230690,0.466532,0.399853,0.002791,...,5.262289,2.541861,7.684934,0.153725,0.938747,6.413991,1.337361,1.522063,4.449574,4.875617
523,4.764622,1.142761,0.162733,0.407679,0.399310,7.310459,18.141052,0.000000,0.187080,0.590681,...,7.783669,8.134260,4.974231,0.951858,2.399863,0.042067,0.438649,0.000000,2.326155,4.016305
889,1.663036,0.332162,6.631960,0.345858,0.076051,0.430237,1.699276,7.557103,4.257052,0.968666,...,1.027330,0.108093,0.936334,2.529723,1.570481,1.391779,3.762258,1.604404,2.831330,1.418786
647,1.736766,2.502814,1.648586,0.062510,0.000000,3.069816,5.085874,0.936640,0.503006,0.746109,...,0.906542,0.868337,2.666396,2.763653,6.186615,2.088937,0.965726,1.566578,4.486074,0.738136

In [24]:
X_test = shuffle(X_test)
X_test

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
395,1.968219,1.730997,0.203867,0.161270,2.652049,1.506608,5.081511,0.000000,2.988096,1.502628,...,9.572902,0.003271,2.037939,1.696624,3.587564,0.711624,4.037845,3.256111,0.073027,1
144,1.551111,5.031430,2.745951,0.000000,0.071744,3.657846,4.448376,5.531698,7.695086,1.853038,...,5.782323,3.640580,0.011822,2.303034,3.232632,1.227091,0.025847,3.226966,1.722507,1
362,0.000000,1.889585,2.972419,1.227841,0.588331,3.094705,11.696765,5.079106,3.886300,0.000000,...,0.828766,0.568750,0.065469,8.499660,2.249899,1.751986,1.452321,5.180879,0.277634,1
128,0.000000,8.037579,4.010636,0.724960,0.000000,8.593908,1.092780,0.000000,1.003783,1.444368,...,4.589984,0.329406,0.176250,4.385464,7.746350,1.899764,2.565768,0.434824,0.280333,1
332,0.948534,0.152790,2.909406,0.842255,2.570868,0.688734,6.526373,0.000000,0.101689,1.437824,...,1.459029,1.482735,0.518044,14.872603,0.877729,0.463819,0.670400,5.113144,5.238579,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,0.873410,1.293051,0.197089,0.400628,2.184995,7.365315,4.231915,2.297870,4.744970,4.407265,...,1.062689,4.689109,1.329282,8.385402,5.787738,1.162828,0.392178,5.909230,0.000000,0
278,0.000000,0.737868,1.788822,0.000000,1.191889,8.074182,3.554177,1.824486,7.621773,0.000000,...,1.500294,1.239292,0.213871,9.794422,1.062206,0.233273,0.000000,0.950349,0.251386,1
228,0.048876,0.561141,0.521512,1.091400,4.502462,2.562784,4.155962,2.004792,1.883016,3.813228,...,0.120255,3.477576,1.903261,4.896038,1.158021,2.829205,0.990996,8.262876,9.004471,1
192,0.379119,0.939795,3.870432,0.000000,0.860860,1.741645,4.340774,0.198672,0.194275,2.769995,...,3.390533,6.679424,2.134327,10.163449,0.504507,1.807930,0.000000,6.630544,2.145999,1
41,2.327434,0.849385,3.735098,0.639361,2.946815,2.105506,2.455933,0.224438,0.615085,0.103057,...,1.333720,3.155045,2.314332,7.293406,2.174202,2.455605,2.349459,7.500938,3.153389,0

In [25]:
X_test_new = X_train.iloc[:,:1024]
Y_test = X_train.iloc[:,1024]
Y_test

424    0
201    0
942    1
696    1
497    1
      ..
674    0
343    1
41     1
807    1
370    1
Name: label, Length: 2200, dtype: int64

In [26]:
# 5749
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier(random_state=0, max_depth=2)
abc = AdaBoostClassifier(base_estimator=decision_tree, n_estimators=200,learning_rate=1)

# Train Adaboost Classifer
model = abc.fit(X_train_new, Y_train)

In [27]:
#Predict the response for test dataset
y_pred = model.predict(X_test_new)

In [28]:
print("Training_Accuracy:",metrics.accuracy_score(Y_train,model.predict(X_train_new)))
print("Testing Accuracy:",metrics.accuracy_score(Y_test, y_pred))
print("Validation_Accuracy:",metrics.accuracy_score(Y_Val,model.predict(X_Val)))

Training_Accuracy: 1.0
Testing Accuracy: 0.9390909090909091
Validation_Accuracy: 0.665

# AdaBoost with SVC

In [29]:
# Load libraries
from sklearn.ensemble import AdaBoostClassifier
from sklearn.svm import SVC
from sklearn import metrics


svc=SVC(probability=True, kernel='rbf')

# Create adaboost classifer object
abc =AdaBoostClassifier(n_estimators=50, base_estimator=svc,learning_rate=1)

# Train Adaboost Classifer
model = abc.fit(X_train_new, Y_train)

#Predict the response for test dataset
y_pred = model.predict(X_test_new)

In [32]:
print("Training_Accuracy:",metrics.accuracy_score(Y_train,model.predict(X_train_new)))
print("Testing Accuracy:",metrics.accuracy_score(Y_test, y_pred))
print("Validation_Accuracy:",metrics.accuracy_score(Y_Val,model.predict(X_Val)))

Training_Accuracy: 0.995
Testing Accuracy: 0.9431818181818182
Validation_Accuracy: 0.71

In [30]:
X_train_new

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
424,0.922690,1.472656,0.329833,0.764208,0.894644,8.734124,6.086827,1.954731,2.377281,1.438097,...,0.000000,3.345764,3.432221,0.153965,7.396088,5.653394,0.675927,0.507218,0.005095,0.232020
201,1.771580,2.175807,0.000000,0.196917,0.466702,1.726108,8.924177,0.038180,0.646813,0.014775,...,5.577553,3.270368,2.825516,2.066752,2.107433,5.357678,0.000000,0.897010,6.164690,0.000000
942,0.064955,0.687543,5.990353,0.214168,1.577035,9.063090,5.829591,0.490681,0.869286,6.718079,...,2.653469,2.716529,1.510474,0.191793,1.457613,6.032616,1.601571,2.083280,3.060474,2.064133
696,0.000000,0.896913,0.113296,0.000000,0.000000,2.202793,4.968699,1.949631,0.811624,1.164052,...,4.015005,8.716613,3.519190,1.476354,2.289749,0.253627,0.025467,0.000000,6.225048,0.013268
497,0.306910,2.116782,4.213968,0.000000,2.886824,6.974339,4.840481,1.161896,0.780072,1.292247,...,0.477254,0.224395,3.628201,1.759862,0.962625,1.316486,0.912129,0.348376,1.291949,0.204644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,0.952726,2.991400,4.797401,0.000000,0.352312,1.102148,3.684948,5.069903,4.358322,4.355152,...,0.000000,3.842527,6.385532,0.719739,3.766157,3.642155,0.696052,0.246034,6.837833,5.788250
528,3.972816,0.971883,0.432489,0.137985,1.103673,2.557741,7.230690,0.466532,0.399853,0.002791,...,5.262289,2.541861,7.684934,0.153725,0.938747,6.413991,1.337361,1.522063,4.449574,4.875617
523,4.764622,1.142761,0.162733,0.407679,0.399310,7.310459,18.141052,0.000000,0.187080,0.590681,...,7.783669,8.134260,4.974231,0.951858,2.399863,0.042067,0.438649,0.000000,2.326155,4.016305
889,1.663036,0.332162,6.631960,0.345858,0.076051,0.430237,1.699276,7.557103,4.257052,0.968666,...,1.027330,0.108093,0.936334,2.529723,1.570481,1.391779,3.762258,1.604404,2.831330,1.418786
647,1.736766,2.502814,1.648586,0.062510,0.000000,3.069816,5.085874,0.936640,0.503006,0.746109,...,0.906542,0.868337,2.666396,2.763653,6.186615,2.088937,0.965726,1.566578,4.486074,0.738136

# Random Forest Classifier

In [31]:
from sklearn.ensemble import RandomForestClassifier
import numpy

clf = RandomForestClassifier(n_estimators= 500,criterion= 'entropy',max_depth=5, random_state=0)
clf.fit(X_train_new, Y_train)

RandomForestClassifier(criterion='entropy', max_depth=5, n_estimators=500,
                       random_state=0)

In [33]:
y_pred = clf.predict(X_test_new)

In [34]:
print("Training_Accuracy:",metrics.accuracy_score(Y_train,clf.predict(X_train_new)))
print("Testing Accuracy:",metrics.accuracy_score(Y_test, y_pred))
print("Validation_Accuracy:",metrics.accuracy_score(Y_Val,clf.predict(X_Val)))

Training_Accuracy: 0.99
Testing Accuracy: 0.9286363636363636
Validation_Accuracy: 0.6525