In [23]:
import pandas as pd
import numpy as np
from sklearn.ensemble import AdaBoostClassifier
from sklearn import datasets
from sklearn import metrics
# from random import shuffle
from sklearn.utils import shuffle

In [2]:
with open('project/pairsDevTrain.txt','r') as f:
    lines = f.readlines()

In [3]:
with open('project/pairsDevTest.txt','r') as f:
    lines_test = f.readlines()

In [4]:
counter = int(lines[0].replace('\n'," "))
name = []
index1 = []
index2 = []
for i in range(1,counter+1):
    test = lines[i].split("\t")
    n = test[0]
    i1 = test[1]
    i2 = test[2].split("\n")[0]
    name.append(n)
    index1.append(i1)
    index2.append(i2)
    
name1 = []
name2 = []
index3 = []
index4 = []
for i in range(counter+1,2*counter+1):
    test = lines[i].split("\t")
    n1 = test[0]
    n2 = test[2]
    i1 = test[1]
    i2 = test[3].split("\n")[0]
    name1.append(n1)
    name2.append(n2)
    index3.append(i1)
    index4.append(i2)

In [5]:
# test dataset
counter_test = int(lines_test[0].replace('\n'," "))
name_test = []
index1_test = []
index2_test = []
for i in range(1,counter_test+1):
    test = lines_test[i].split("\t")
    n = test[0]
    i1 = test[1]
    i2 = test[2].split("\n")[0]
    name_test.append(n)
    index1_test.append(i1)
    index2_test.append(i2)
    
name1_test = []
name2_test = []
index3_test = []
index4_test = []
for i in range(counter_test+1,2*counter_test+1):
    test = lines_test[i].split("\t")
    n1 = test[0]
    n2 = test[2]
    i1 = test[1]
    i2 = test[3].split("\n")[0]
    name1_test.append(n1)
    name2_test.append(n2)
    index3_test.append(i1)
    index4_test.append(i2)

In [6]:
d = {'name': name, 'pic1':index1, 'pic2':index2,'fet1':'','fet2':'','label':1}
df = pd.DataFrame(data=d)
df

                     name pic1 pic2 fet1 fet2  label
0           Aaron_Peirsol    1    2                1
1           Aaron_Peirsol    3    4                1
2            Aaron_Sorkin    1    2                1
3     Abdel_Nasser_Assidi    1    2                1
4                Abdullah    1    3                1
...                   ...  ...  ...  ...  ...    ...
1095           Zhu_Rongji    1    9                1
1096           Zhu_Rongji    4    7                1
1097           Zhu_Rongji    4    8                1
1098           Zhu_Rongji    5    6                1
1099      Zinedine_Zidane    2    4                1

[1100 rows x 6 columns]

In [7]:
d1 = {'name': name1, 'name2':name2 ,'pic1':index3, 'pic2':index4,'fet1':'','fet2':'','label':0}
df_2 = pd.DataFrame(data=d1)
df_2

                     name                 name2 pic1 pic2 fet1 fet2  label
0                 AJ_Cook       Marsha_Thomason    1    1                0
1            Aaron_Sorkin          Frank_Solich    2    5                0
2     Abdel_Nasser_Assidi          Hilary_McKay    2    1                0
3          Abdoulaye_Wade            Linda_Dano    4    1                0
4            Abdul_Rahman           Magui_Serna    1    1                0
...                   ...                   ...  ...  ...  ...  ...    ...
1095          Tom_Vilsack        Wayne_Ferreira    1    5                0
1096         Trisha_Meili  Vladimiro_Montesinos    1    3                0
1097             Ty_Votaw          Wayne_Allard    1    1                0
1098       Vytas_Danelius        Zaini_Abdullah    1    1                0
1099        Wendy_Kennedy        Zara_Akhmadova    1    1                0

[1100 rows x 7 columns]

In [8]:
d = {'name': name_test, 'pic1':index1_test, 'pic2':index2_test,'fet1':'','fet2':'','label':1}
df_test = pd.DataFrame(data=d)
df_test

                   name pic1 pic2 fet1 fet2  label
0          Abdullah_Gul   13   14                1
1          Abdullah_Gul   13   16                1
2      Abdullatif_Sener    1    2                1
3        Adel_Al-Jubeir    1    3                1
4             Al_Pacino    1    2                1
..                  ...  ...  ...  ...  ...    ...
495        Winona_Ryder    6   15                1
496        Winona_Ryder   19   21                1
497  Yevgeny_Kafelnikov    3    4                1
498    Yoriko_Kawaguchi    3   10                1
499      Zoran_Djindjic    3    4                1

[500 rows x 6 columns]

In [9]:
d1 = {'name': name1_test, 'name2':name2_test ,'pic1':index3_test, 'pic2':index4_test,'fet1':'','fet2':'','label':0}
df_2_test = pd.DataFrame(data=d1)
df_2_test

,name,name2,pic1,pic2,fet1,fet2,label
0,AJ_Lamas,Zach_Safrin,1,1,,,0
1,Aaron_Guiel,Reese_Witherspoon,1,3,,,0
2,Aaron_Tippin,Jose_Luis_Rodriguez_Zapatero,1,1,,,0
3,Abdul_Majeed_Shobokshi,Charles_Cope,1,1,,,0
4,Abdullah_Gul,Steve_Cox,16,1,,,0
...,...,...,...,...,...,...,...
495,Susan_Whelan,Wolfgang_Schneiderhan,1,1,,,0
496,Takeo_Fukui,Will_Ofenheusle,1,1,,,0
497,Tamara_Mowry,Zach_Parise,1,1,,,0
498,Tatiana_Kennedy_Schlossberg,Thomas_Watjen,1,1,,,0
499,Todd_Petit,Vicente_Fernandez,1,3,,,0

In [10]:
a2 = []
for i in range(counter):
    name = df['name'][i]
    pic1 = pic2 = test = test1 = ''
    a1 = []
    if int(df['pic1'][i]) >= 100:
        pic1 = name + '_' + '0'+ df['pic1'][i]
    elif 99>= int(df['pic1'][i]) >= 10:
        pic1 = name + '_' + '00'+ df['pic1'][i]
    else :
        pic1 = name + '_' + '000'+ df['pic1'][i]
        
    if int(df['pic2'][i]) >= 100 :
        pic2 = name + '_' + '0'+ df['pic2'][i]
    elif 99>int(df['pic2'][i]) >= 10 :
        pic2 = name + '_' + '00'+ df['pic2'][i]
    else :
        pic2 = name + '_' + '000'+ df['pic2'][i]
    with open('project/lfw/'+name+'/' +pic1 +'.txt','r') as f:
        test = f.read()
        df['fet1'][i] =  test
        test = test.split("[[")[1]
        arr = test.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))
        
        
    with open('project/lfw/'+name+'/' +pic2 +'.txt','r') as f:
        test1 = f.read()
        df['fet2'][i] =  test1
        test1 = test1.split("[[")[1]
        arr = test1.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))
                
                
    a2.append(a1)

/Users/mohadeseh/Documents/old_photo_restoration/code/Img_to_Img/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/mohadeseh/Documents/old_photo_restoration/code/Img_to_Img/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df

,name,pic1,pic2,fet1,fet2,label
0,Aaron_Peirsol,1,2,[[9.43082690e-01 3.28069896e-01 5.10735512e+00...,,1
1,Aaron_Peirsol,3,4,[[1.45405674e+00 2.05314040e+00 1.51097548e+00...,,1
2,Aaron_Sorkin,1,2,[[1.52582908e+00 2.11960840e+00 1.20013811e-01...,,1
3,Abdel_Nasser_Assidi,1,2,[[8.1341374e-01 2.6844177e+00 1.7458496e+00 2....,,1
4,Abdullah,1,3,[[8.99211824e-01 3.87123108e+00 4.04598093e+00...,,1
...,...,...,...,...,...,...
1095,Zhu_Rongji,1,9,[[0.00000000e+00 8.54933739e-01 7.88489342e-01...,,1
1096,Zhu_Rongji,4,7,[[4.37959373e-01 0.00000000e+00 1.02546923e-01...,,1
1097,Zhu_Rongji,4,8,[[4.37959373e-01 0.00000000e+00 1.02546923e-01...,,1
1098,Zhu_Rongji,5,6,[[2.52138948e+00 0.00000000e+00 7.96396673e-01...,,1
1099,Zinedine_Zidane,2,4,[[1.60772824e+00 0.00000000e+00 9.98071551e-01...,,1

In [12]:
a3 = []

for i in range(counter):
#     print("i", i)
    name1 = df_2['name'][i]
    name2 = df_2['name2'][i]
    pic1 = pic2 = test = test1 = ''
    a1 = []
    if int(df_2['pic1'][i]) >= 100:
        pic1 = name1 + '_' + '0'+ df_2['pic1'][i]
    elif 99>= int(df_2['pic1'][i]) >= 10:
        pic1 = name1 + '_' + '00'+ df_2['pic1'][i]
    else :
        pic1 = name1 + '_' + '000'+ df_2['pic1'][i]
        
    if int(df_2['pic2'][i]) >= 100 :
        pic2 = name2 + '_' + '0'+ df_2['pic2'][i]
    elif 99>int(df_2['pic2'][i]) >= 10 :
        pic2 = name2 + '_' + '00'+ df_2['pic2'][i]
    else :
        pic2 = name2 + '_' + '000'+ df_2['pic2'][i]
    with open('project/lfw/'+name1+'/' +pic1 +'.txt','r') as f:
        test = f.read()
        df_2['fet1'][i] = test
        test = test.split("[[")[1]
        arr = test.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))     
    with open('project/lfw/'+name2+'/' +pic2 +'.txt','r') as f:
        test1 = f.read()
        df_2['fet2'][i] =  test1
        test1 = test1.split("[[")[1]
        arr = test1.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else:
                a1.append(float(arr[i]))
    a3.append(a1)

/Users/mohadeseh/Documents/old_photo_restoration/code/Img_to_Img/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/mohadeseh/Documents/old_photo_restoration/code/Img_to_Img/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
# test
a2_test = []
for i in range(counter_test):
    name = df_test['name'][i]
    pic1 = pic2 = test = test1 = ''
    a1 = []
    if int(df_test['pic1'][i]) >= 100:
        pic1 = name + '_' + '0'+ df_test['pic1'][i]
    elif 99>= int(df_test['pic1'][i]) >= 10:
        pic1 = name + '_' + '00'+ df_test['pic1'][i]
    else :
        pic1 = name + '_' + '000'+ df_test['pic1'][i]
        
    if int(df_test['pic2'][i]) >= 100 :
        pic2 = name + '_' + '0'+ df_test['pic2'][i]
    elif 99>int(df_test['pic2'][i]) >= 10 :
        pic2 = name + '_' + '00'+ df_test['pic2'][i]
    else :
        pic2 = name + '_' + '000'+ df_test['pic2'][i]
    with open('project/lfw/'+name+'/' +pic1 +'.txt','r') as f:
        test = f.read()
        df_test['fet1'][i] =  test
        test = test.split("[[")[1]
        arr = test.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))
        
        
    with open('project/lfw/'+name+'/' +pic2 +'.txt','r') as f:
        test1 = f.read()
        df_test['fet2'][i] =  test1
        test1 = test1.split("[[")[1]
        arr = test1.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))
                
                
    a2_test.append(a1)

/Users/mohadeseh/Documents/old_photo_restoration/code/Img_to_Img/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/mohadeseh/Documents/old_photo_restoration/code/Img_to_Img/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
a3_test = []

for i in range(counter_test):
#     print("i", i)
    name1 = df_2_test['name'][i]
    name2 = df_2_test['name2'][i]
    pic1 = pic2 = test = test1 = ''
    a1 = []
    if int(df_2_test['pic1'][i]) >= 100:
        pic1 = name1 + '_' + '0'+ df_2_test['pic1'][i]
    elif 99>= int(df_2_test['pic1'][i]) >= 10:
        pic1 = name1 + '_' + '00'+ df_2_test['pic1'][i]
    else :
        pic1 = name1 + '_' + '000'+ df_2_test['pic1'][i]
        
    if int(df_2_test['pic2'][i]) >= 100 :
        pic2 = name2 + '_' + '0'+ df_2_test['pic2'][i]
    elif 99>int(df_2_test['pic2'][i]) >= 10 :
        pic2 = name2 + '_' + '00'+ df_2_test['pic2'][i]
    else :
        pic2 = name2 + '_' + '000'+ df_2_test['pic2'][i]
    with open('project/lfw/'+name1+'/' +pic1 +'.txt','r') as f:
        test = f.read()
        df_2_test['fet1'][i] = test
        test = test.split("[[")[1]
        arr = test.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else: 
                a1.append(float(arr[i]))     
    with open('project/lfw/'+name2+'/' +pic2 +'.txt','r') as f:
        test1 = f.read()
        df_2_test['fet2'][i] =  test1
        test1 = test1.split("[[")[1]
        arr = test1.replace("\n","").split(" ")
        for i in range(len(arr)):
            if arr[i] == '' :
                continue
            elif i == len(arr)-1:
                if arr[i] == ']]':
                    continue
                t = arr[i].split("]]")
                a1.append(float(t[0]))
            else:
                a1.append(float(arr[i]))
    a3_test.append(a1)

/Users/mohadeseh/Documents/old_photo_restoration/code/Img_to_Img/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/mohadeseh/Documents/old_photo_restoration/code/Img_to_Img/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
# arr = test.replace("\n","").split(" ")
# len(arr)
# a1 = []
# a2 = []
# for i in range(len(arr)):
#     if arr[i] == '' :
#         pass
#     elif i == 0 :
#         t = arr[i].split("[[")
#         a1.append(float(t[1]))
#     elif i == len(arr)-1:
#         t = arr[i].split("]]")
#         a1.append(float(t[0]))
#     else: 
#         a1.append(float(arr[i]))
            
# a2

In [16]:
# arr = test1.replace("\n","").split(" ")
# len(arr)
# for i in range(len(arr)):
#     if arr[i] == '' :
#         pass
#     elif i == 0 :
#         t = arr[i].split("[[")
#         a1.append(float(t[1]))
#     elif i == len(arr)-1:
#         t = arr[i].split("]]")
#         a1.append(float(t[0]))
#     else: 
#         a1.append(float(arr[i]))
        
# len(a1)

In [17]:
df_2.to_csv("df_2.csv")
df.to_csv("df.csv")

In [18]:
# a2 = np.reshape(a1, (1, 1024))

# np.shape(a2)

In [19]:
# X_train = pd.concat([df.iloc[:,3:],df_2.iloc[:,4:]],axis=0)
X_train1 = pd.DataFrame(a2)
X_train1
X_train2 = pd.DataFrame(a3)
X_train2
X1 = pd.concat([X_train1,df.iloc[:,5]],axis=1)
X1
X2 = pd.concat([X_train2,df_2.iloc[:,6]],axis=1)
X2

X_train = pd.concat([X1,X2],axis=0)
X_train

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
0,0.943083,0.328070,5.107355,0.047781,6.151414,6.137378,2.698583,0.186967,0.115426,4.111624,...,2.880255,2.532219,0.276606,1.956461,6.976591,2.187533,0.329154,0.306263,1.012553,1
1,1.454057,2.053140,1.510975,0.300200,4.056980,2.742740,2.834798,0.345680,0.885907,3.824532,...,0.018412,1.623344,0.699217,9.124781,1.209864,2.995515,0.000000,3.623063,1.478496,1
2,1.525829,2.119608,0.120014,1.431045,4.351317,9.113686,6.806141,2.784211,0.000000,1.366421,...,2.297232,2.790154,2.242366,6.413890,0.627657,2.513208,4.984568,6.714706,0.166774,1
3,0.813414,2.684418,1.745850,0.257840,1.472835,3.998883,1.697413,9.135638,0.639541,0.397341,...,2.506820,2.928633,1.809035,7.082498,2.498612,2.628944,0.451894,1.922534,0.713930,1
4,0.899212,3.871231,4.045981,0.206819,7.851793,4.136694,2.494328,2.733904,1.162861,4.646218,...,1.791215,2.692249,1.741916,4.291878,1.826620,1.811240,2.256759,1.797617,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,2.124551,0.135523,1.459448,0.120547,0.647721,14.389665,4.694295,0.000000,2.923706,2.113942,...,0.265272,3.579269,0.188312,3.893798,0.176847,0.021026,0.079869,7.641582,1.155094,0
1096,0.236122,1.186276,1.977578,0.000000,1.251430,2.024422,6.032820,1.592247,1.712161,0.702873,...,2.492952,2.182515,0.980047,12.904762,2.743064,3.974437,0.337186,2.703202,1.256285,0
1097,2.326176,3.522727,2.265609,0.000000,0.416707,2.480762,4.914556,0.798949,2.188603,5.511739,...,25.419458,8.090882,0.470488,4.310369,8.386435,3.501042,3.151184,8.701805,2.438571,0
1098,3.678269,0.119461,1.438015,0.777253,0.158648,5.477327,4.505041,4.482634,1.136055,3.326639,...,0.281028,1.152750,1.479167,2.914398,1.530654,1.809756,1.639976,2.626419,0.671979,0
1099,0.000000,1.346309,2.808309,1.332433,0.039468,7.065207,12.230016,1.864351,3.314987,0.433882,...,2.174475,6.441138,0.277401,4.782899,1.862754,0.419757,0.674769,3.862042,5.200733,0

In [20]:
X_test1 = pd.DataFrame(a2_test)

X_test2 = pd.DataFrame(a3_test)
X_test1
X1 = pd.concat([X_test1,df_test.iloc[:,5]],axis=1)

X2 = pd.concat([X_test2,df_2_test.iloc[:,6]],axis=1)


X_test = pd.concat([X1,X2],axis=0)
X_test

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
0,1.349706,1.197813,1.866544,0.003267,0.797498,7.253777,7.998175,0.341146,1.839355,1.328911,...,2.724845,0.699208,0.091064,1.661395,1.354002,0.332827,0.439253,6.675734,0.190162,1
1,1.349706,1.197813,1.866544,0.003267,0.797498,7.253777,7.998175,0.341146,1.839355,1.328911,...,2.732909,4.794750,4.103353,3.731858,3.417188,0.815296,0.647574,5.347900,0.407629,1
2,0.741477,0.922977,0.962432,0.027037,0.570898,0.190039,0.821979,1.628959,0.954088,3.989373,...,1.241246,3.267510,0.240486,5.265185,7.147744,5.587754,2.004833,0.653658,1.404996,1
3,1.148699,1.305753,0.797906,0.020593,0.000000,9.680884,6.672922,6.215244,2.693423,1.888526,...,0.350050,2.811434,0.560612,0.172593,2.322964,1.287508,1.492438,0.721043,1.550527,1
4,0.069380,0.000000,2.994990,0.000000,1.400044,4.814030,8.961414,0.049737,0.265670,0.367150,...,4.377237,4.258365,2.268685,2.916606,0.967733,0.593921,0.149629,2.745450,0.534993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,3.039391,0.032237,1.298288,2.453755,2.927109,2.329246,5.348336,6.618428,0.326731,0.593294,...,1.730461,4.222790,1.979296,11.337769,1.814036,2.730738,0.000000,2.524794,6.024907,0
496,0.900691,0.000000,3.376374,0.474559,0.000000,1.525415,2.281301,2.175935,5.534246,0.655844,...,0.152439,4.653399,0.055799,3.607120,1.697641,0.112870,1.266918,2.617888,2.140086,0
497,3.055318,1.045660,2.981344,0.082576,5.805265,0.587725,1.721573,0.000000,1.301997,1.269628,...,0.012062,4.909497,0.191727,0.054913,7.776306,0.789824,0.805288,5.002907,2.343013,0
498,0.795895,0.543751,14.022307,2.906320,14.261437,1.496604,3.439011,0.609679,0.000000,10.845224,...,0.451590,2.723640,0.308586,3.488514,1.137457,1.014916,0.516887,1.161461,1.300755,0
499,0.693673,0.026308,0.075736,0.631874,0.000000,3.279488,0.707745,7.545298,1.669757,0.884710,...,1.650444,3.995903,1.715578,3.726051,1.731614,0.839769,0.437260,11.399000,0.000000,0

In [24]:
# from sklearn.utils import shuffle
X_train = shuffle(X_train)
X_train

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
936,0.840214,1.133730,0.315865,0.659757,6.133272,2.047568,1.579147,0.000000,1.701218,5.411314,...,0.970539,5.147714,1.048872,5.837133,0.254937,0.943807,1.949803,6.146849,2.508631,1
92,0.513667,1.099682,4.855259,0.000000,0.000000,2.462458,6.092745,2.450877,3.149290,1.323073,...,2.081879,1.427175,1.464521,3.933802,0.119935,2.538894,0.401315,2.343304,3.374774,0
82,6.472105,2.629111,3.951909,1.803867,1.457680,5.413683,4.559505,2.484648,0.444389,1.332344,...,3.048370,3.258460,2.840751,6.290445,1.156995,3.087252,0.584204,6.973311,0.374934,0
1063,0.083490,6.792426,1.295807,4.917516,0.000000,6.456467,10.660556,3.640965,2.426582,0.115693,...,1.830910,0.237394,5.785000,11.789108,2.262832,0.000000,0.330647,4.814817,2.275721,0
481,0.006633,1.235489,1.382598,0.000000,0.000000,3.110750,6.419797,8.249014,1.902285,1.258686,...,0.707209,1.973891,0.073501,3.999902,5.649549,1.689803,0.788910,2.733446,3.276258,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,0.930236,0.000000,6.964284,0.444715,0.104426,1.502980,4.361663,0.000000,0.000000,1.825995,...,1.484942,3.382571,6.220654,0.843725,2.446840,2.116356,0.613309,3.363785,0.000000,1
236,2.668381,5.264920,0.841472,0.000000,1.812070,6.759550,3.382093,4.133672,0.000000,5.633354,...,0.173580,2.524902,3.002538,3.233403,3.206061,0.573750,0.509876,6.544070,1.207091,0
8,0.035558,2.883478,0.120854,0.491002,0.023132,3.316186,7.264543,7.227139,2.592687,0.827184,...,0.060024,6.422585,1.741299,0.371550,1.153701,2.572073,3.653406,0.619697,0.781869,0
325,2.089953,2.995430,5.231751,0.268079,10.360258,1.787884,7.567027,0.000000,0.537140,2.866040,...,10.835975,3.137466,0.052158,3.772073,2.131062,0.121996,0.781040,2.566862,2.267357,0
340,1.531960,0.845151,3.143677,2.246707,0.988064,1.426177,4.909493,0.000000,2.502725,3.343738,...,3.317648,1.556090,0.778146,0.506286,2.326511,4.379175,2.503183,2.915737,0.558451,1

In [187]:
X_train_new = X_train.iloc[:1800,:1024]
Y_train = X_train.iloc[:1800,1024]
Y_train
X_Val = X_train.iloc[1800:,:1024]
Y_Val = X_train.iloc[1800:,1024]
Y_Val

641     0
400     1
260     0
1036    0
724     0
       ..
1041    1
236     0
8       0
325     0
340     1
Name: label, Length: 400, dtype: int64

In [26]:
X_test = shuffle(X_test)
X_test

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
123,1.081124,2.105504,4.717862,0.106374,1.956316,1.867515,2.240669,0.787588,1.978731,0.534999,...,1.093448,3.396251,0.485837,5.380676,0.393739,3.584501,2.729447,0.452185,0.209176,0
282,0.000000,0.048030,6.622246,0.678983,1.060170,1.146087,3.525057,0.000000,0.449215,0.052225,...,5.273574,3.250966,2.785641,9.896233,0.692827,4.674316,1.961234,3.709618,2.218487,0
177,1.092697,0.000000,3.500646,0.851553,1.328887,1.700756,2.989259,0.707688,2.878121,1.504253,...,1.732262,2.853991,0.376156,6.178054,2.390794,0.353156,2.191034,0.791217,1.395675,0
433,0.427176,2.262149,0.648438,0.917862,0.667063,3.426016,2.176629,4.579568,7.282686,2.418624,...,3.789662,4.093120,1.190533,8.354696,1.739151,2.691535,1.908615,2.415302,0.000000,1
311,1.202580,0.546504,0.000000,0.218297,1.154707,1.235678,5.224761,0.424315,4.175695,0.208958,...,1.157612,3.218698,0.959894,10.407860,0.067765,0.995587,2.840584,0.820408,0.210161,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,3.210928,0.037239,1.787044,2.581226,0.218869,1.061760,2.369663,1.000560,0.617586,1.091100,...,1.011269,5.674207,3.170789,7.402990,1.132988,1.753820,2.115146,3.523328,2.077219,1
400,0.000000,1.700683,0.366900,0.834489,1.390690,1.523242,4.670046,0.865265,3.080903,2.396883,...,5.918152,7.232090,9.126295,3.949239,2.164656,0.433384,0.000000,8.666111,0.777931,0
167,0.586020,2.603369,4.126535,0.000000,12.329211,1.332874,4.954087,0.000000,1.109740,1.142791,...,2.281224,5.828819,0.139236,11.407793,4.884823,0.122707,0.000000,2.359224,1.793965,0
103,0.212368,1.386686,0.800172,0.102175,2.841343,11.866301,5.080979,2.813971,0.400184,1.372754,...,2.354816,0.846789,0.788790,2.234129,0.505342,0.931274,2.784189,0.443335,0.000000,0
220,4.422577,0.758608,1.086672,0.324208,1.247715,10.075734,3.365420,14.190565,1.216276,0.752384,...,1.429737,3.773455,0.981359,1.544297,3.475683,1.053843,0.377562,1.389410,0.000000,0

In [27]:
X_test_new = X_train.iloc[:,:1024]
Y_test = X_train.iloc[:,1024]
Y_test

936     1
92      0
82      0
1063    0
481     0
       ..
1041    1
236     0
8       0
325     0
340     1
Name: label, Length: 2200, dtype: int64

In [189]:
# 5749
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier(random_state=0, max_depth=2)
abc = AdaBoostClassifier(base_estimator=decision_tree, n_estimators=200,learning_rate=1)

# Train Adaboost Classifer
model = abc.fit(X_train_new, Y_train)

In [190]:
#Predict the response for test dataset
y_pred = model.predict(X_test_new)

In [191]:
print("Training_Accuracy:",metrics.accuracy_score(Y_train,model.predict(X_train_new)))
print("Testing Accuracy:",metrics.accuracy_score(Y_test, y_pred))
print("Validation_Accuracy:",metrics.accuracy_score(Y_Val,model.predict(X_Val)))

Training_Accuracy: 1.0
Testing Accuracy: 0.9472727272727273
Validation_Accuracy: 0.71

# AdaBoost with SVC

In [185]:
# Load libraries
from sklearn.ensemble import AdaBoostClassifier

# Import Support Vector Classifier
from sklearn.svm import SVC
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
svc=SVC(probability=True, kernel='rbf')

# Create adaboost classifer object
abc =AdaBoostClassifier(n_estimators=150, base_estimator=svc,learning_rate=1)

# Train Adaboost Classifer
model = abc.fit(X_train_new, Y_train)

#Predict the response for test dataset
y_pred = model.predict(X_test_new)

In [186]:
print("Training_Accuracy:",metrics.accuracy_score(Y_train,model.predict(X_train_new)))
print("Testing Accuracy:",metrics.accuracy_score(Y_test, y_pred))
print("Validation_Accuracy:",metrics.accuracy_score(Y_Val,model.predict(X_Val)))

Training_Accuracy: 0.9994318181818181
Testing Accuracy: 0.9481818181818182
Validation_Accuracy: 0.7431818181818182

In [192]:
X_train_new

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
936,0.840214,1.133730,0.315865,0.659757,6.133272,2.047568,1.579147,0.000000,1.701218,5.411314,...,5.254125,0.970539,5.147714,1.048872,5.837133,0.254937,0.943807,1.949803,6.146849,2.508631
92,0.513667,1.099682,4.855259,0.000000,0.000000,2.462458,6.092745,2.450877,3.149290,1.323073,...,3.911653,2.081879,1.427175,1.464521,3.933802,0.119935,2.538894,0.401315,2.343304,3.374774
82,6.472105,2.629111,3.951909,1.803867,1.457680,5.413683,4.559505,2.484648,0.444389,1.332344,...,1.459816,3.048370,3.258460,2.840751,6.290445,1.156995,3.087252,0.584204,6.973311,0.374934
1063,0.083490,6.792426,1.295807,4.917516,0.000000,6.456467,10.660556,3.640965,2.426582,0.115693,...,11.867896,1.830910,0.237394,5.785000,11.789108,2.262832,0.000000,0.330647,4.814817,2.275721
481,0.006633,1.235489,1.382598,0.000000,0.000000,3.110750,6.419797,8.249014,1.902285,1.258686,...,0.210342,0.707209,1.973891,0.073501,3.999902,5.649549,1.689803,0.788910,2.733446,3.276258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,1.892402,5.862087,6.564034,0.000000,3.471417,1.185901,1.288501,6.410726,1.366894,0.272858,...,1.024155,5.608070,3.880638,0.225304,6.764233,0.493794,1.427315,1.552546,2.966400,1.073043
986,0.056046,0.158213,0.648367,0.052670,0.232023,16.306002,5.209082,0.000000,0.288652,1.660327,...,2.925471,6.560520,2.712864,1.725925,4.324726,3.025404,0.827994,0.272069,0.605606,6.400333
1082,4.177513,0.138036,1.149841,2.564524,0.035085,0.156723,1.131085,3.587886,1.711542,0.789868,...,4.027245,0.818871,7.585852,2.600590,5.866113,0.413464,2.825270,1.291138,6.968491,5.481779
32,4.201972,2.863204,3.831148,0.675132,0.140121,2.118683,4.877066,8.543491,9.086224,0.744332,...,0.117241,2.239124,3.528350,0.000000,5.620018,5.384465,0.062453,1.017323,3.009843,3.306245
271,0.806194,1.610149,1.822584,0.276661,0.043721,0.387546,3.392658,0.329715,0.447687,1.918589,...,4.274804,2.801936,5.268386,1.016021,4.530013,5.255859,6.850399,10.107123,1.117140,2.625787

# Random Forest Classifier

In [198]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators= 100,max_depth=6, random_state=0)
clf.fit(X_train_new, Y_train)

RandomForestClassifier(max_depth=6, n_estimators=1000, random_state=0)

In [199]:
y_pred = clf.predict(X_test_new)

In [200]:
print("Training_Accuracy:",metrics.accuracy_score(Y_train,model.predict(X_train_new)))
print("Testing Accuracy:",metrics.accuracy_score(Y_test, y_pred))
print("Validation_Accuracy:",metrics.accuracy_score(Y_Val,model.predict(X_Val)))

Training_Accuracy: 1.0
Testing Accuracy: 0.9404545454545454
Validation_Accuracy: 0.71